*
{
margin:0px;
padding:0px;
}

body
{
margin: 10 auto;
width: 70%;
height: auto;
border: solid 1px black;
box-shadow: 3px 3px 3px 3px #ccc;
}

ul
{
list-style-type: square;
width:90%;
}

li
{
position: relative;
width: 80%;
left: 40px;
}

div
{
margin:5px 5px;
padding:5px;
border: solid 2px gray;
border-radius: 10px;
width: 100%;
height: auto;
position:relative;
}

h1
{
display:inline;
}

.position
{
margin: 10px;
background-color: #E8E8E8;
width:96.4%;
}

.positionAbsolute
{
margin: 10px;
background-color: #E8E8E8;
width:96.4%;
}


.staticImage
{
position:static;
left: 150px;
top: 100px;

float: left;

background-color: white;
background-image: url('../Images/ggsunrise.jpg');
background-repeat: no-repeat;
background-position: center;

width: 150px;
height: 100px;

border-radius: 0px;
}

.absoluteImage
{
position: absolute;
top: 0px;
right: 0px;

background-color: white;
background-image: url('../Images/ggsunrise.jpg');
background-repeat: no-repeat;
background-position: center;

width: 150px;
height: 100px;

border-radius: 0px;
}

.relativeImage
{
position: relative;
top: 0px;
left: -150px;

background-color: white;
background-image: url('../Images/ggsunrise.jpg');
background-repeat: no-repeat;
background-position: center;

width: 150px;
height: 100px;

border-radius: 0px;
}

.fixedImage
{
position: fixed;
bottom: 10px;
right: 15px;

background-color: white;
background-image: url('../Images/ggsunrise.jpg');
background-repeat: no-repeat;
background-position: center;

width: 150px;
height: 100px;

border-radius: 0px;
}

#staticText
{
width: auto;
margin: 2px;
padding: 5px;
height: auto;
}


#absoluteText
{
width: 90%;
margin: 2px;
padding: 5px;
}

#relativeText
{
width: auto;
height: auto;
margin: 2px;
padding: 5px;
position: relative;
left:5%;
}

#fixedText
{
width: auto;
margin: 2px;
padding: 5px;
}
